<table>
    <tr>
        <td>
            <div>Procesing...</div>
        </td>
        <td>
            <div class="preloader1">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </td>
    </tr>
</table>


