@page "/search"

<h1>Multiple DB Search</h1>

<b>Coming soon!</b>
<br />
<br />
<button class="btn btn-primary" disabled="disabled" @onclick="SearchAllDatabases">Search</button>

@code {
    private void SearchAllDatabases()
    {
    }
}
